<h1>WELCOME TO THE ALPHA BLOG <%= (link_to current_user.username, user_path(current_user)) if logged_in? %> </h1>
<% if logged_in? %>
<%= link_to "LoGOUT", logout_path %>
<% else %>
<%= link_to "signup", signup_path %>
<br>
<%= link_to "LoGIN", login_path %>
<%end%>
<br>
<%= link_to "Articles", articles_path %>